*, *::after, *::before {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-nav__logo img {
  display: block;
  transition: transform 0.2s ease;
}

.tcgicon{
  width: 125px;
  height: 64px;
  border-radius: 10px;
  width: auto;
  margin: 0 auto;
}

h3 {
  color: white;
  font-family: 'Noto Sans', sans-serif;
}

.bkgd{
  background-color: black;
}

.container-carousel{
  padding: 10vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
}

.grid img {
  width: 245px;
  height: 342px;
}


